/**/
.make_disappear {
    display: none !important;
}

/*NMSU CS485 Fall 2023 Final Project*/

/*presumably we're going to apply css in such a way as to hide listings
 and/or identify blacklisted sellers*/

/* pop-up window sizing max */
body {
    width: 600px;
    height: 1200px;
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
  }
  
  /* styling for confirm button */
  #btn {
    align-items: center;
    appearance: none;
    background-color: #FFF;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  #btn:focus {
    box-shadow: #e5e5e5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
  }
  
  #btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #btn:active {
    box-shadow: #e5e5e5 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  /* styling for cancel button */
  #btn2 {
    align-items: center;
    appearance: none;
    background-color: #FFF;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  #btn2:focus {
    box-shadow: #e5e5e5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
  }
  
  #btn2:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #btn2:active {
    box-shadow: #e5e5e5 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  /*  
    # parent items height larger than child content
    # apply border to child span within them
  */
  #blacklist-collapse {
    background-color: #e5e5e5;
    color: #000;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: background-color 0.2s ease-out;
    margin-bottom: -10px; /* Adjust the value to match the margin-top of #blacklist-content */
  }
  
  /* #blacklist-collapse:hover {
    background-color: #555;
  } */
  
  #blacklist-collapse {
    background-color: #e5e5e5;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #blacklist-collapse:active {
    box-shadow: #fff 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  #blacklist-collapse:after {
    content: "\2212";
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  #blacklist-collapse.active:after {
    content: "\002B";
  }
  
  /* opens and displays content when click '+' */
  #blacklist-content {
    padding: 18px;
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e5e5e5;
    display: block;
    margin-top: 10px;
  }
  
  #blacklist-content {
    background-color: #e5e5e5; /* Adjust the hover/focus background color as needed */
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  /* closes when click '+' */
  #view-blklist-content.active {
    display: block;
  }
  
  
  /* closes when click '-' */
  #blacklist-content.active {
    display: none;
  }
  
  /* New class for styling the input */
  .styled-input {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  /* Apply the same styles for :focus, :hover, and :active states  */
  .styled-input:focus,
  .styled-input:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .styled-input:active {
    box-shadow: #e5e5e5 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  
  
  
  #btn,
  #btn2 {
    height: 25px; /* Adjust the height as needed */
    padding-left: 10px; /* Adjust the left padding as needed */
    padding-right: 10px; /* Adjust the right padding as needed */
    font-size: 15px; /* Adjust the font size as needed */
    line-height: 25px; /* Should match the height property */
  }
  
  /*  
    # view blocked list collapse
  */
  #view-blklist-collapse {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: background-color 0.2s ease-out;
    margin-bottom: -10px; /* Adjust the value to match the margin-top of #blacklist-content */
  }
  
  /* #blacklist-collapse:hover {
    background-color: #555;
  } */
  #view-blklist-collapse {
    background-color: #e5e5e5;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #view-blklist-collapse:active {
    box-shadow: #e5e5e5 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  #view-blklist-collapse:after {
    content: "\002B";
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  #view-blklist-collapse.active:after {
    content: "\2212";
  }
  
  /* opens and displays content when click '-' */
  #view-blklist-content {
    padding: 18px;
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FFF;
    display: none;
    margin-top: 10px;
  }
  
  #view-blklist-content {
    background-color: #e5e5e5; /* Adjust the hover/focus background color as needed */
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e5e5e5 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  /* closes when click '+' */
  #view-blklist-content.active {
    display: block;
  }
  
  /*  adds space between divs */
  #space-div {
    margin-top: 30px; /* Adjust the value as needed */
  }
  